<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Olfactory Connect</string>
	<key>CFBundleExecutable</key>
	<string>Olfactory Connect</string>
	<key>CFBundleIconFile</key>
	<string>generated-1b1196032ff423155ce2aa027a729d0336e6d6055e8d46952092ab2430c131e9.icns</string>
	<key>CFBundleIdentifier</key>
	<string>Olfactory Connect</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Olfactory Connect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
